:root {
	--border-color: #291D4D;
	--dialog-background: #ECECEC;
	
	--menu-background: #FFE8D2;
	/*--menu-font-color: #A48465;*/
	--menu-font-color: #575656;
	--menu-selected-background: #7FC2FF;
}

* {
	box-sizing: border-box;
}

body {
	background: #333;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.game-container {
	position: relative;
	width: 352px;
	height: 198px;
	margin: 0 auto;
	outline: 1px solid #fff;

	transform: scale(2.5) translateY(50%);
}

.game-container canvas {
	image-rendering: pixelated;
}